# De la PRACTICA02
Practica02_Equipo3_MD/Covid_Muestras/*.csv
Practica02_Equipo3_MD/Covid_Muestras/*.rar
Practica02_Equipo3_MD/Covid_Muestras/*.zip
Practica02_Equipo3_MD/**/*.docx
Practica02_Equipo3_MD/Diccionario_Datos/cat_*.csv
Ejemplo/
Entregable_Profesor/

# Archivos que puedan contener contraseñas o credenciales
*.env
*password*
*credencial*
*.pgpass

# Salidas / temporales
*.log
__pycache__/
*.pyc
.DS_Store
Thumbs.db

# Entornos / notebooks
.venv/
venv/
.ipynb_checkpoints/

# Editor
.vscode/